snippet [
	[${1:label}](${2:location})

snippet ![
	![${1:label}](${2:location})

snippet r
	```{r ${1:label}, ${2:options}}
	${0}
	```

snippet rcpp
	```{r, engine='Rcpp'}
	#include <Rcpp.h>
	using namespace Rcpp;

	${0}

	```

snippet !
	<!--${1:comment}-->

snippet ref
	\@ref(${1:fig}${2:tab}:${3:chunk-label})

snippet tab
	```{r ${1:label}, include=T}
	sg(${2:obj},tit="${3:caption}")
	```

snippet fig
	```{r ${1:label},fig.cap="${3:caption}, include=T}
	plt(${2:obj})
	```
